body {

    width:100vw;
    height:100vh;
    margin:0;
    background-color:#262623;
    overflow: hidden;
}

* {
    
    font-family: 'Barlow', sans-serif;              

}


.container {

    width:100%;
    height: 100%;
    overflow-x:scroll;
    display: flex;
    flex-direction: column;
    scroll-snap-type: both mandatory;
    z-index: 1;


}


section {

    display:flex;
    flex: none;
    width:100%;
    height:100%;
    justify-content: center;
    scroll-snap-align: start;
    
}

.flex {

    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;

}

.flex1 {

    position:relative;
    height:25%;
    z-index: 2;
    width: auto;

}

.flex2 {

    position:relative;
    height:85%;
    width:100%;
    overflow: hidden;

}

.logo {

    top:0;
    position:fixed;
    display: flex;
    height:24%;
    width:100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    z-index: 2;
    background-color: #262623;


}

section:nth-of-type(1) {


    color:black;

}


section:nth-of-type(2) {

    color:black;

}

section h1:nth-child(1) {

    position:absolute;
    font-size: 11vw;
    left:27.9vw;

}

section h1:nth-child(2) {

    position:absolute;
    font-size: 11vw;
    color:rgb(255,0,9);
    right:27.9vw;
}

section h1:nth-child(2):hover {

    transition: 0.3s;

}

.box {

    position: relative;
    width:100%;
    height:100%;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:none;

}

.box2 {

    margin-left: 20px;
    height:80%;
    width:55%;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: none;
    border: 2px solid #909090;
    color: white;
    box-shadow:0 0 3px #909090 ,
    0 0 6px #909090,
    0 0 8px #909090,
    0 0 16px #909090;
        
}

.eventdetails {

    position:relative;
    width:50%;
    height:auto;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.eventdetails h5 {

    margin-left: 3px;
    margin-right: 3px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    color:#262623;
    font-size: 20px;
    border-radius: 10px;
    background-color: #C9B149;
    transition:2s;
    border: 3px solid white;

}


.eventdetails h5:hover {

    transform: scale(1.1);
    transition:2s;

}

.poster {

    position:relative;
    width:33.33%;
    height:auto;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.poster video {

    object-fit: contain;
    height:500px;
    width:500px;
    z-index: 1;

}

.eventinfo {

    position:relative;
    width:50%;
    height:auto;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.eventinfo h2 {

    color: white;
    font-size: 45px;
    border-radius: 10px;
    text-shadow: 0 0 1.8px black;

}

.eventinfo h3 {

    color: white;
    font-size: 37px;
    border-radius: 10px;
    text-shadow: 0 0 1.8px black;

}

.eventinfo h4 {

    color: white;
    font-size: 37px;
    border-radius: 10px;
    text-shadow: 0 0 1.8px black;

}

.club {

    top:0;
    left:0;
    position:absolute;
    width:15%;
    height:auto;
    display:flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index:3;

}

.club img {

    height:100px;
    width:160px;

}

.grid2 {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.flex3 {

    margin-top:none;
    padding-top: 10%;
    position:relative;
    width:100%;
    height:55%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.release1 {

    width:80%;
    height: 80px;
    padding-bottom:none;
    margin-bottom: 5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    color:#262623;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 40px;
    box-shadow: 0 0 7px #909090, 0 0 7px #909090, 0 0 7px #909090, 0 0 7px #909090;
    transition: 0.2s;

}

.release1:hover {

    transform: scale(1.01);
    transition:0.2s;
    color:white;
    background-color: rgb(201, 177, 73);

}

.release2 {

    width:80%;
    height: 80px;
    padding-bottom:none;
    margin-bottom: 5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    color:#262623;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 40px;
    box-shadow: 0 0 7px #909090, 0 0 7px #909090, 0 0 7px #909090, 0 0 7px #909090;

}

.release2:hover {

    transform: scale(1.01);
    transition:0.2s;
    color:white;
    background-color: rgb(201, 177, 73);

}

.release3 {

    width:80%;
    height: 80px;
    padding-bottom:none;
    margin-bottom: 5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    color:#262623;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 40px;
    box-shadow: 0 0 7px #909090, 0 0 7px #909090, 0 0 7px #909090, 0 0 7px #909090;

}

.release3:hover {

    transform: scale(1.01);
    transition:0.2s;
    color:white;
    background-color: rgb(201, 177, 73);

}

select {

    width: 50px; 
    height: 45px; 
    font-size: 16px; 
    background-color: #262623;
    color:white;
    border-radius: 10px;
    box-shadow: 0 0 7px #909090, 0 0 7px #909090, 0 0 7px #909090, 0 0 7px #909090;
    border: 1px solid white;
    outline-color: #262623;

}

.flex4 {

    padding-top: 30px;
    width:40%;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.continue button {

    color:#262623;
    background-color: rgb(201, 177, 73);
    border-radius: 10px;
    width: 200px; 
    height: 60px;
    font-size: 23px; 

}

.vip button {

    color:#262623;
    background-color: rgb(201, 177, 73);
    border-radius: 10px;
    width: 200px; 
    height: 60px;
    font-size: 23px; 

}

.vip button:hover {

    background-color: white;

}

.continue button:hover {

    background-color: white;

}

.modal {

    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid white;
    box-shadow:0 0 3px #909090 ,
    0 0 6px #909090,
    0 0 8px #909090,
    0 0 16px #909090;
    border-radius: 10px;
    z-index:10;
    background-color:#262623;
    width: 500px;
    max-width:80%;
    height: 360px;
    display: flex;
    flex-direction: column;

}

.modal.active {

    transform: translate(-50%, -50%) scale(1);


}

.modaltext {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    color: white;

}

.modaltext p:nth-of-type(1) {

    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin: none;

}

.modaltext p:nth-of-type(2) {

    font-size: 50px;
    color:rgb(201, 177, 73);
    position:absolute;
    position: absolute;
    top: 20%;
    left:50%;
    transform: translate(-50%, -50%);

}

#drinks {

    position: absolute;
    top: 58%;
    left:50%;
    transform: translate(-50%, -50%);

}

.close-button {

    position:absolute;
    cursor: pointer;
    border:none;
    outline: none;
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85%;
    left:50%;
    transform: translate(-50%, -50%);

}

#overlay {

    position:fixed;
    opacity:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.93);
    pointer-events: none;
    z-index:9;

}

#overlay.active {

    opacity:1;
    pointer-events: all;

}

.modal.active {

    transform: translate(-50%, -50%) scale(1);

}


@media (max-width: 991px) {
    
    .logo {

        height:25%;

    }
    
    .logo video{

        height:840px;
        width:840px;

    }

    .container {

        display: flex;
        flex-direction: column;

    }

    .eventinfo h2 {

        font-size: 33px;

    }

    .eventinfo h3 {

        font-size: 27px;

    }

    .eventinfo h4 {

        font-size: 27px;

    }

    .club img {

        height:150px;
        width:220px;

    }

    .poster video {

        object-fit: contain;
        height:500px;
        width:500px;
        z-index: 1;

    }

}

@media (max-width: 750px) {
    
    .logo {

        height:25%;

    }
    
    .logo video{

        height:650px;
        width:650px;

    }

    .container {

        display: flex;
        flex-direction: column;

    }

    .eventinfo h2 {

        text-align: center;
        font-size: 28px;

    }

    .eventinfo h3 {

        font-size: 23px;

    }

    .eventinfo h4 {

        font-size: 23px;

    }

    .club img {

        height:150px;
        width:220px;

    }

    .postervideo {

        position:absolute;
        object-fit: contain;
        height:340px;
        width:340px;
        max-width: 200px;
        z-index: 1;
        right:0;

    }

    .club {

        position:relative;
        width:100%;
        height:auto;
        display:flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

    }

    .eventinfo {

        position:relative;
        width:100%;
        height:auto;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .box2 {

        height:auto;
        width:50%;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .poster {

        position:relative;
        width:50%;
        height:auto;
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

    }

}

@media (max-width: 550px) {
    
    .logo {

        height:17%;

    }

    .logo video{

        height:575px;
        width:575px;

    }

    .container {

        display: flex;
        flex-direction: column;

    }

    .eventinfo h2 {

        text-align: center;
        font-size: 25px;

    }

    .eventinfo h3 {

        font-size: 20px;

    }

    .eventinfo h4 {

        font-size: 20px;

    }

    .club img {

        height:150px;
        width:220px;

    }

    .poster video {

        position:relative;
        object-fit: cover;
        height:450px;
        width:450px;
        z-index: 1;

    }

    .club {

        position:relative;
        width:100%;
        height:auto;
        display:flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

    }

    .eventinfo {

        position:relative;
        width:100%;
        height:auto;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .box {

        position: relative;
        width:100%;
        height:100%;
        top:0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:none;

    }

    .box2 {

        height:50%;
        width:100%;
        overflow: hidden;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .poster {

        position:relative;
        width:100%;
        height:60%;
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

    }

    .flex2 {

        position:relative;
        height:83%;
        width:100%;
        overflow: hidden;

    }

    .flex1 {

        position:relative;
        height:17%;
        z-index: 2;
        width: auto;

    }

}

@media (max-width: 440px) {
    
    .logo {

        height:17%;

    }

    .logo video{

        height:575px;
        width:575px;

    }

    .container {

        display: flex;
        flex-direction: column;

    }

    .eventinfo h2 {

        text-align: center;
        font-size: 25px;

    }

    .eventinfo h3 {

        font-size: 20px;

    }

    .eventinfo h4 {

        font-size: 20px;

    }

    .club img {

        height:120px;
        width:200px;

    }

    .poster video {

        position:relative;
        object-fit: contain;
        height:420px;
        width:420px;
        z-index: 1;

    }

    .club {

        position:relative;
        width:100%;
        height:auto;
        display:flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

    }

    .eventinfo {

        position:relative;
        width:100%;
        height:auto;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .box {

        position: relative;
        width:100%;
        height:100%;
        top:0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:none;

    }

    .box2 {

        height:50%;
        width:100%;
        overflow: hidden;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .poster {

        position:relative;
        width:100%;
        height:60%;
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

    }

    .flex2 {

        position:relative;
        height:83%;
        width:100%;
        overflow: hidden;

    }

    .flex1 {

        position:relative;
        height:17%;
        z-index: 2;
        width: auto;

    }

}

@media (max-width: 300px) {

    .poster img {

        position:relative;
        object-fit: contain;
        height:320px;
        width:320px;
        z-index: 1;

    }

}

@media (max-width: 300px) {
    
    .logo {

        height:17%;

    }

    .logo video{

        height:295px;
        width:295px;

    }

    .container {

        display: flex;
        flex-direction: column;

    }

    .eventinfo h2 {

        text-align: center;
        font-size: 20px;

    }

    .eventinfo h3 {

        font-size: 15px;

    }

    .eventinfo h4 {

        font-size: 15px;

    }

    .club img {

        height:70px;
        width:100px;

    }

    .postervideo {

        position:absolute;
        object-fit: contain;
        height:200px;
        width:200px;
        z-index: 1;

    }

    .club {

        position:relative;
        width:100%;
        height:auto;
        display:flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

    }

    .eventinfo {

        position:relative;
        width:100%;
        height:auto;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .box {

        position: relative;
        width:100%;
        height:100%;
        top:0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:none;

    }

    .box2 {

        height:50%;
        width:100%;
        overflow: hidden;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .poster {

        position:relative;
        width:100%;
        height:60%;
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

    }

    .flex2 {

        position:relative;
        height:83%;
        width:100%;
        overflow: hidden;

    }

    .flex1 {

        position:relative;
        height:17%;
        z-index: 2;
        width: auto;

    }

}

@media (max-height: 600px) {

    .postervideo {

        position:relative;
        object-fit: contain;
        height:500px;
        width:300px;
        max-width: 200px;
        z-index: 1;

    }

}

